```bash
# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# VSCode / IDEs
.vscode/
*.code-workspace

# Data files
data/*.csv
data/*.xlsx
data/*.json

